div {
    width: 200px;
    height: 200px;
    background-color: pink;

    padding: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    /* 多值写法 四个值 上右左下 三个值 上 左右 下 两个值 上下 左右 */
    padding: 10px 20px 30px 40px;
    /* 边框线属性 边框粗细 线条样式 颜色 （不区分顺序）*/
    /* solid实线 dashed虚线 dotted点线 */
    border: 1px solid black;
    border: 10px dotted black;
    /* 设置单方向边框线 */
    border-top: 2px solid black;
    border-right: 3px dashed bisque;
    border-left: 3px dotted bisque;
    border-bottom: 4px solid black;
    /* 外边距 不会撑大盒子 */
    margin: 30px;
    /* 版心居中 */
    margin: 0 auto;

    /* 内减模式 加border和padding不会撑大盒子 */
    box-sizing: border-box;

    /* hidden 溢出隐藏 scroll 溢出滚动  auto 溢出滚动 只有溢出才显示滚动条 */
    overflow: hidden;
    overflow: scroll;

    border-radius: 20px;
    /* 从左上角开始顺时针赋值 */
    border-radius: 10px 20px 20px 20px;
}

/* 去除h1的默认内外边距 */
h1 {
    margin: 0;
    padding: 0;
}

/* 去除列表的项目符号 */
li {
    list-style: none;
}